@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Azeret Mono", monospace;
word-spacing: -5px;
letter-spacing:-.8px;

}
.resume-section{
max-width: 80%;
display: flex;
justify-content: space-between;
align-items: center;
text-align: center;
margin: 2rem auto;

}
.left-side > h3{
font-size: 1.5rem;

}
.right-side >button{
    border: none;
outline: none;
padding: .8rem 1.2rem;
border-radius: .3rem ;
border: 1px solid black;
font-size: .9rem;
font-weight: 500;
background: transparent;
cursor: pointer;

}

.banner{
height: auto;
background-image:url(Hero-bg.png) ;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
margin: 1rem auto;
text-align: center;

}

.banner>img{
padding: 2rem 0;
}

.banner>h1{
max-width: ;width: 60%;
text-align: center;
margin: auto;
font-size: 2.4rem;
font-weight:bolder;
line-height: 3.5rem;
}
.banner>p{
max-width: 45%;
font-size: .8rem;
 margin: auto;
 padding-top: 1.6rem;
opacity: .8;
line-height: 1.6rem;
}
 
.banner>a>button{
border: none;
outline: none;
background-color: black;
color: aliceblue;
font-size: 1.1rem;
font-weight: 400;
padding: 1.3rem 1.6rem;
border-radius: 8px;
margin:2rem auto;
 
}
/* header end here */

/* main start here */
.second-section{
 max-width: 80%;
height: auto;
background-color: #FAFAFB;
margin: 4.5rem auto;
text-align: center;
border-radius: .7rem;
}
.card-content>h2{
font-size: 1.6rem;
 font-weight: 800;
 padding-top: 5.2rem;
padding-bottom:1.5rem ;
}
.card-content>P{
font-size: .8rem;
font-weight: 300;
letter-spacing: .1px;
max-width: 70%;
margin: auto;
line-height: 1.5rem;
}
.first-card{
max-width: 85%;
height: auto;
display: flex;
flex-wrap: wrap;
margin:2rem auto;
background: linear-gradient( hsl(0, 0%, 100%),#FAFAFB);
 justify-content: space-between;
 border-radius: .9rem;
}
.one-text{
text-align: left;
padding: 3.5rem ;

}
.one-text>h2{
font-size: 1.3rem ;
 max-width:100% ;
padding-bottom: 1.5rem;
}

.one-text>p{
font-size: .8rem;
max-width:100% ;
line-height: 1rem;
padding-bottom: 1rem;
}
.one-text>button{
padding: .6rem 1.7rem;
background: transparent;
outline-offset: none;
border: none;
font-size: 1.1rem;
font-weight: 600;
border: 1px solid black;
margin: 1.5rem auto;
opacity: .8;
}
.one-image{
    margin: 2rem 1rem;

}


.second-card{
display: flex;
max-width: 85%;
height: auto;
display: flex;
flex-wrap: wrap;
margin:2rem auto;
background: linear-gradient( hsl(0, 0%, 100%),#FAFAFB);
 justify-content:  ;
 border-radius: .9rem;
}

.second-image>img{
    margin: 2rem 3.5rem;
 max-width: 90%;

}
 
 


 
