@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Azeret Mono", monospace;
word-spacing: -5px;
letter-spacing:-.8px;
}
.resume-section{
max-width: 80%;
display: flex;
justify-content: space-between;
align-items: center;
text-align: center;
margin: 2rem auto;

}
.left-side > h3{
font-size: 1.5rem;

}
.right-side>button{
    border: none;
outline: none;
padding: .8rem 1.2rem;
border-radius: .3rem ;
border: 1px solid black;
font-size: .9rem;
font-weight: 500;
background: transparent;
cursor: pointer;

}

.banner{
height: auto;
background-image:url(Hero-bg.png) ;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
margin: 1rem auto;
text-align: center;

}

.banner>img{
padding: 2rem 0;
}

.banner>h1{
max-width: ;width: 60%;
text-align: center;
margin: auto;
font-size: 2.4rem;
font-weight:bolder;
line-height: 3.5rem;
}
.banner>p{
max-width: 45%;
font-size: .8rem;
 margin: auto;
 padding-top: 1.6rem;
opacity: .8;
line-height: 1.6rem;
}
 
.banner>a>button{
border: none;
outline: none;
background-color: black;
color: aliceblue;
font-size: 1.1rem;
font-weight: 400;
padding: 1.3rem 1.6rem;
border-radius: 8px;
margin:2rem auto;
 cursor: pointer;
}
/* header end here */

/* main start here */

/* section one start here */


.second-section{
 max-width: 80%;
 height:auto;
background-color: #FAFAFB;
margin: 4.5rem auto;
text-align: center;
border-radius: .7rem;
}
.card-content>h2{
font-size: 1.6rem;
 font-weight: 800;
 padding-top: 5.2rem;
padding-bottom:1.5rem ;
}
.card-content>P{
font-size: .8rem;
font-weight: 300;
letter-spacing: .1px;
max-width: 70%;
margin: auto;
line-height: 1.5rem;
}
.first-card{
max-width: 85%;
height: auto;
display: flex;
flex-wrap: wrap;
margin:3rem auto;
background: linear-gradient( hsl(0, 0%, 100%),#FAFAFB);
 justify-content: space-between;
 border-radius: .9rem;
}
.one-text{
text-align: left;
padding: 3.5rem ;

}
.one-text>h2{
font-size: 1.3rem ;
 max-width:100% ;
padding-bottom: 1.5rem;
}

.one-text>p{
font-size: .8rem;
max-width:100% ;
line-height: 1rem;
padding-bottom: 1rem;
}
.one-text>button{
padding: .6rem 1.7rem;
background: transparent;
outline-offset: none;
border: none;
font-size: 1.1rem;
font-weight: 600;
border: 1px solid black;
margin: 1.5rem auto;
opacity: .8;
cursor: pointer;
}
.one-image{
margin: 2rem 1rem;
}
.second-card{
display: flex;
max-width: 85%;
height: auto;
display: flex;
flex-wrap: wrap;
margin:2rem auto;
background: linear-gradient( hsl(0, 0%, 100%),#FAFAFB);
 justify-content:  ;
 border-radius: .9rem;
}
.second-image>img{
    margin: 2rem 3.5rem;
 max-width: 90%;

}
 
 /* section one end here */

 /* section two start here */

.inspiration{
max-width:80%;
margin: 3rem auto;
text-align: center;

}
.inspire-content>h2{
 font-size: 1.8rem;  
font-weight: bold;
}
.inspire-content>p{
max-width: 80%;
margin:2rem auto ;


}
.youtube-vdio{
    margin:4rem auto;
    border: 1px solid #c5c3c3;
    border-radius: .9rem;
    max-width: 100%;
    height: 40rem;

}
  .youtube-vdio> iframe{
 width: 95%;
 height: 90%;
 margin-top: 2%;
 border-radius: .9rem;
  }

 /* section two end here */

 /* section three start here  */
.my-target{
max-width: 80%;
margin: 3rem auto;
text-align: center;
margin: 3rem auto;
}


 .my-target h1{
padding-top: 4rem;
font-size: 1.9rem;
text-align: center;

 }
.my-target>P{
max-width: 65%;
padding: 1.5rem;
margin: auto;
text-align: center;
line-height: 2rem;
font-size: .9rem;
}
.fonted{

margin-bottom: 5rem;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
 
gap: 1.5rem;
}

 .html{
background-color: #c5c3c3;
max-width: 30rem;
height: 21rem;
 text-align: left;
 padding:3rem ;
 border-radius: .6rem;

 }

 .html>img{
padding-bottom: 1.5rem;

 }
 .html>h3{
font-size: 1.6rem;
padding-bottom: 1rem;
 }
 .html>P{
padding-bottom: 1.5rem;
line-height: 1.8rem;

 }
 .html>a{
font-size: 1rem;
font-weight: 600;
color: black;
cursor: pointer;
 }
 #broun{
background-color: #fff6f4;

 }   
#nblue{
background-color: #f2f6fe;

}
 #yllow{
    background-color: #fffdf2;
 }

.next-content>h2{
    padding-top: 3rem;
    font-size: 1.9rem;
    text-align: center;
}
.next-content>p{
    max-width: 65%;
    padding: 1.5rem;
    margin: auto;
    text-align: center;
    line-height: 2rem;
    font-size: .9rem;
}
.react{
display:flex;
text-align: left;
border: 1px solid rgb(204, 200, 200);
 height: auto;
 border-radius: .8rem;
 max-width:98%;
 margin: 2rem auto;
}
.js-photo{
padding: 3rem 2rem;


}
.js-info>h3{
padding-top: 2.5rem;
padding-bottom: 1rem;

}
.js-info>p{
font-size: .9rem;
line-height: 1.5rem;
padding-right: 3rem;
}
.lrn-more{
margin: 2.5rem 0;

}
.lrn-more>a{
    font-size: 1rem;
    font-weight: 600;
    color: black; 
}

.support{
 max-width: 98%;  
 height: 24rem; 
 margin: 3rem auto;
 background-image:linear-gradient(rgba(49, 54, 61, 0.7),rgba(32, 32, 41, 0.7)), url(handshake.jpg);
background-size: cover;
background-position: center;
border-radius: .8rem;
text-align: center;
}
.last-content{
margin: 4rem auto;
max-width: 60%;
height: 12rem;
text-align: center;
 padding-top: 6rem;
 
}
.last-content>h2{
font-size: 1.9rem;
font-weight: 400;
color: #FAFAFB;
padding-bottom: 1rem;
}
.last-content>p{
font-size: .9rem;
font-weight: 100;
color: whitesmoke;
}

.inp{
max-width: 80%;
margin: 4rem auto;
display: flex;
text-align: center;
justify-content: center;
gap: .9rem;
flex-wrap: wrap;
}

.input-one >input{
padding:1.3rem 10rem ;
border-radius: .5rem;
font-size: .9rem;
text-align: left;
}
.input-two>input{
padding: 1.1rem 3rem;
font-size: 1.2rem;
font-weight: 500;
border-radius: .5rem;
cursor: pointer;
}


/* section three end here */
/* main section end here  */

/* footer start here  */
 .last-container{
background-color: #F7F8F8;
height: 6rem;

 }
.hotline{
display: flex;
justify-content: ;
align-items:center;
justify-content: space-between;
 /* flex-wrap: wrap; */
 margin: 2.5rem 16rem;

}
.my-name>h3{
padding-top: 2rem;
font-size:1.4rem ;
font-weight: 400;
}

.social>a>img{
padding: 0 .7rem 0;
padding-top: 2rem;

}

/* footer end here  */




/* <!-- SIMPLE RESPONSIVE --> */
@media (max-width:1140px) {

    .input-one >input{
        padding:1.3rem 6rem ;
        border-radius: .5rem;
        font-size: .9rem;
        text-align: left;
        }

        .last-container{
            background-color: #F7F8F8;
            height: 14.5rem;
           margin-left: -6rem;
            
        }
            .hotline{
               gap: 3rem;
                height: 10rem;
            }

            .social{
             height: 10rem;

            }
    }
    
/* <!-- SIMPLE RESPONSIVE --> */